<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Revisto</title>
		<meta name="description" content="Revisto - Resume" />
		<meta name="keywords" content="revisto, resume, cv" />
		<meta name="author" content="Revisto"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="/static//favicon.ico">
		<link rel="icon" href="/static//favicon.ico" type="image/x-icon">
		
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='/static//css/google_poppins.css' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="/static//css/style.css" />
	</head>
	
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
				
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
				
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
						  <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
							 data-target="#navbar_collapse">
							 <span class="mask"></span>
							 <span class="btn-label">
								<span class="pe-7s-menu"></span>
							 </span>
						  </button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about</span></li>
								<li><a data-scroll href="#services_sec"></a><span>services</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#work_sec"></a><span>work</span></li>
								<li><a data-scroll href="#client_sec"></a><span>socials</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
									<span>
										ALIREZA SHABANI
									</span>
								</a>	
							</div>	
							
							<div class="float-right social-download-wrap">
								<a href="/static/cv.pdf" class="btn btn-default float-left">
									<span class="mask"></span>
									<span class="btn-label">
										<b>download resume</b>
										<span class="icon pe-7s-download"></span>
									</span>
								</a>
							</div>	
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								Hey!<span id="typed"></span>
							</h1>
							<h6>
								about
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Experienced software engineer with a passion for developing innovative programs that expedite the efficiency and effectiveness of organizational success. Well-versed in technology and writing code to create systems that are reliable and user-friendly. Skilled leader who has the proven ability to motivate, educate, and manage a team of professionals to build software programs and effectively track changes.
							</p>
							
						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>what i do</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-graph3"></span>
									<span class="key-fact">
										ANALYSIS		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-browser"></span>
									<span class="key-fact">
										PROGRAMMING		 
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-tools"></span>
									<span class="key-fact">
										TESTING		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-note2"></span>
									<span class="key-fact">
										DOCUMENTATION
									</span>
								</div>
							</div>	
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>technical skills</h6>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Python (Flask)</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="97">
													<strong><i>97</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Git</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
													<strong><i>98</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Docker</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="91">
													<strong><i>91</i>%</strong>
												</span>	
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Gnu/Linux</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
													<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">HTML</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="86">
													<strong><i>86</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">CSS</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="87">
														<strong><i>87</i>%</strong>
													</span>
												</div>	
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">MongoDB</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
													<strong><i>86</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Selenium</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
													<strong><i>98</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>

								<div class="clearfix"></div>
							</div>	
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad">
							<h6>Some Of My Projects</h6>
						
							<div id="portfolio-wrap" class="padding-sec-lg">
            					<ul id="portfolio" class="auto-construct  project-gallery" data-col="2">
									<li class="item" data-src="/static//img/mock1.jpg"  onclick='redirect_to("https://github.com/Revisto/tracko2")'>
										<a href="">
										<img class="img-responsive" src="/static//img/mock1.jpg"/>
										<span class="hover-cap">Tracko</span>
										</a>
									</li>
									<li class="item" data-poster="/static//img/mock2.jpg" onclick='redirect_to("https://github.com/urgemag/urge")'>
										<a href="">
										<img class="img-responsive" src="/static//img/mock2.jpg"/>
										<span class="hover-cap">Urge</span>
										</a>
									</li>
									<li class="item" data-src="/static//img/mock4.jpg" onclick='redirect_to("https://github.com/Revisto/minecraft-telegram-bot")'>
										<a href="">
										<img class="img-responsive" src="/static//img/mock4.jpg" />
										<span class="hover-cap">Minecraft Telegram Bot</span>
										</a>
									</li>
									<li class="item" data-poster="/static//img/mock3.jpg" onclick='redirect_to("https://github.com/Revisto/tabadol-ketab-bot")'>
										<a>
										<img class="img-responsive" src="/static//img/mock3.jpg" />
										<span class="hover-cap">Tabadol Ketab Bot</span>
										</a>
									</li>
									<script>

										function redirect_to(url){
											window.location.href = url;
										}

									</script>
									
								</ul>
								<!-- Hidden video div -->
								<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="videos/video1.mp4" type="video/webm">
										<source src="videos/video1.webm" type="video/webm">
										 Your browser does not support HTML5 video.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Qualfication Sec-->
						
						<!--/Qualfication Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Experience Sec-->
						
						<!--/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>Find Me On</h6>
							<div class="client-carousel">
								<a href="https://revisto.ir/github"><img src="/static//img/client1.png" alt="client"></a>
								<a href="https://revisto.ir/stack"><img src="/static//img/client2.png" alt="client"></a>
								<a href="https://revisto.ir/devto"><img src="/static//img/client3.png" alt="client"></a>
								<a href="https://revisto.ir/linkedin"><img src="/static//img/client4.png" alt="client"></a>
							</div>
						</section>
						<!--/Client Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Achivement Sec-->
						
						<!--/Achivement Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag"><a href="mailto:theRevisto@gmail.com" style="color: #ffffff;">theRevisto@gmail.com</a><br><a href="tel:+989197275112" style="color: #ffffff;">+98 9197275112</a></span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://github.com/revisto" class="social-icon">
													<span class="fa" data-hover="&#xf09b;">&#xf09b;</span>
												</a>
											</li>
											<li>
												<a href="https://revisto.ir/linkedin" class="social-icon">
													<span class="fa" data-hover="&#xf08c;">&#xf08c;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
											<span data-hover="top">
												top
											</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
									</div>
								</div>	
							</div>	
						</footer>
						<!--/Footer-->
						
					</div>	
					<!--/Main Content-->
					
				</div>
			</div>	
		</div>
		<!-- /Container -->
				
		<!-- Scripts -->
		<script src="/static//js/jquery-1.11.3.min.js"></script>
		<script src="/static//js/angular.min.js"></script>
		<script src="/static//js/bootstrap.min.js"></script>
		<script src="/static//js/modernizr.custom.js"></script>
		<script src="/static//js/app.js"></script>
		<script src="/static//js/controllers.js"></script>
		<script src="/static//js/jquery.placeholder.js"></script>
		<script src="/static//js/smooth-scroll.js"></script>
		<script src="/static//js/countTo.js"></script>
		<script src="/static//js/jQuery.appear.js"></script>
		<script src="/static//js/isotope.js"></script>
		<script src="/static//js/typed.js"></script>
		<script src="/static//js/jquery.mousewheel.min.js"></script>
		<script src="/static//js/owl.carousel.min.js"></script>
		<script src="/static//js/froogaloop2.min.js"></script>
		<script src="/static//js/wow.min.js"></script>
		<script src="/static//js/init.js"></script>
	</body>
</html>
